@media screen and (max-width: 992px) {
    /* nav mobile section */
    .nav-mobile {
        display: flex;
        /* width: 100%; */

    }

    .menu {
        display: flex;
    }

    .body-section {
        width: 99%;
        margin: 0 auto;
        height: 500px;
    }

    .body-text {
        padding-top: 100px;
    }

    .body-text div {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
        justify-content: space-around;
        padding-top: 30px;
    }

    .body-text div .body-btn {
        margin-top: 20px;
    }

    .body-text p {
        font-size: 15px;
    }

    .aboutus-section {
        flex-direction: column-reverse;
    }

    .aboutus-section .aboutus-text {
        width: 100%;
    }

    .body-section .nav-decktop {
        display: none;
    }

    .aboutus-section .aboutus-img {
        width: 99%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .nasty-trash {
        padding: 3rem 0;
        margin-top: 8rem;

    }

    .nasty-trash div {
        width: 100%;
        margin-left: 0em;
        padding: 10px;
        margin-top: 20px;
    }

    .wasted-food {
        display: block;
    }

    .wasted-food .wasted-food-h1 {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .wasted-food .wastedtext {
        width: 60%;
        margin: 0 auto;
    }

    .stayloop-section {
        display: block;
        padding: 80px 50px;
    }

    .stayloop-section form input {
        width: 300px;
    }


}

@media screen and (max-width: 450px) {
    .nasty-trash {
        width: 98.5%;
        margin: 0 auto;
        border-radius: 20px;
        padding-left: 10px;
    }

    .nasty-trash div {
        width: 100%;
        margin-left: 0em;
        padding: 0;

    }

    .wasted-food {
        display: block;
    }

    .wasted-food .wasted-food-h1 {
        width: 100%;
        font-size: 60px;
        padding-left: 10px;
    }

    .wasted-food .wastedtext {
        width: 100%;
        padding-left: 10px;
    }


    .memin-section .memin-text {
        width: 100%;
    }

    .info-section .info-table .icon {
        display: block;
    }

    .info-section .info-table .info-text {
        display: block;
    }

    .icon {
        display: block;
    }
}